@tailwind base;
@tailwind components;
@tailwind utilities;

#reserved {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color:aliceblue; 
    text-align : center;     
}

canvas {
    /* border: 2px solid black;  */
    display: inline;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#canvasSpace {
    text-align: center;  
}